.d-block {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
#headings{
    text-align: center;
    background-color: #FFA2E8;
    color: white;
}
.logo{
    background-color: #81baf1;
}
.navbar{
    color: #D9F18A;
}
.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
