.d-block {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
#headings{
    text-align: center;
    background-color: #FFA2E8;
    color: white;
}
.logo{
    background-color: #81baf1;
}
.navbar{
    background-color: #D9F18A;
}
.btn-primary-kids{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #81baf1;
    border-color: #81baf1;
    color: white
}
.btn-primary-parents{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9F18A;
    border-color: #D9F18A;
    color: white
}
.btn-primary-teachers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFA2E8;
    border-color: #FFA2E8;
    color: white
}

.btn-primary-cards{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFDEAC ;
    border-color: #FFDEAC;
    color: white

}
